@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://d2kd1atb170pxv.cloudfront.net/var/site/storage/images/1/4/7/0/50741-3-esl-ES/5d918631669e-AdobeStock_833477820-1-1-.jpg') no-repeat center center fixed;
        background-size: cover;
        color:white;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenidos a HealthPoint</h1>
    <h4>Tu Centro de Salud al Alcance de un Click </h4>
</div>
